<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmpgwF7Vzz8acWIpbAGfYMLfcrLnkqcxg</string>
	<key>GCM_SENDER_ID</key>
	<string>304363354291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.domainname.journal</string>
	<key>PROJECT_ID</key>
	<string>journal-bd202</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-bd202.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:304363354291:ios:fd94552ca838a14aa218c6</string>
</dict>
</plist>
